@import '../variables'

.main
  margin: 40px auto
  width: 600px

.hello
  .loading
    margin-left: 20px
    color: violet

.chat-wrapper
  display: flex
  flex-flow: column
  border: 1px solid $border-color
  height: 600px
  background: $dark
  color: $success-dark
  margin-top: 20px

.main-window
  display: flex
  flex: 1

.chat-window
  width: 450px
  height: 100%

.user-list
  height: 100%
  border-left: 1px solid $border-color
  padding: 10px

.message-wrapper