@import "../variables"

.message-wrapper
  display: flex
  height: 30px

  .input
    flex: 1
    padding: 0 10px

  .submit
    background: $info
    border: 0
    color: $light
    width: 80px
    cursor: pointer
    &:hover
      background: darken($info, 20%)
