<!DOCTYPE html>
<html>
  <head>
    <title>Rails React Chat</title>
    <% #= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <% #= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% #= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
